/*Now the CSS*/
:root {
  --connector-width: 2px;
  --connector-default-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border: solid 1px white;
}
.level{
  display:'flex';
  justify-content: center;
  width: 100%;
  border: solid 1px yellow;
}

.node{
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  color: black;
  font-size: large;
  border: solid 3px white;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.draggable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.edge {
  position: absolute;
  background-color: white;
  height: 2px;
  transform-origin: top left;
}